<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <% Object.keys(data).forEach(key => { %>  
            <tr>
                <td><%=data[key][0]%></td>
                <td><%=data[key][1]%></td>
            </tr>
            
        <% }); %>
    </table>
</body>
</html>